{"openapi":"3.0.1","info":{"title":"SITA Flight Schedule API","description":"SITA Flight Schedule API provides flight Schedule information in a easy to read JSON format. This information is derived from data supplied by OAG.","contact":{"name":"DOTS Support","url":"https://www.developer.aero","email":"dots.support@sita.aero"},"version":"1.1.8"},"servers":[{"url":"https://sitaopen.api.aero/schedule","description":"Production"}],"tags":[{"name":"Flight Schedule API"}],"paths":{"/v1/route/departure/{departureAirport}/arrival/{arrivalAirport}":{"get":{"tags":["Flight Schedule API"],"summary":"Schedule Information based on Departure and Arrival airports","description":"Returns all active flight schedules between a Departure and Arrival airport.","operationId":"getByDepartureAndArrival","parameters":[{"name":"departureAirport","in":"path","description":"3-character IATA or 4-character ICAO departure airport code","required":true,"schema":{"type":"string"},"example":"DUB"},{"name":"arrivalAirport","in":"path","description":"3-character IATA or 4-character ICAO arrival airport code","required":true,"schema":{"type":"string"},"example":"SIN"},{"name":"operationDateFrom","in":"query","description":"Start Date for Operation Date Filter (Valid format is 'yyyy-MM-dd').\nIf not defined, current UTC date will be assigned","required":false,"schema":{"type":"string"},"example":"2020-07-26"},{"name":"operationDateTo","in":"query","description":"Final Date for Operation Date Filter (Valid format is 'yyyy-MM-dd').\nIf defined, operationDateFrom should also be present. If not defined, a 3 days window will be used based on operationDateFrom (if present) or the current UTC date.","required":false,"schema":{"type":"string"},"example":"2020-07-31"},{"name":"groupMarketingCarriers","in":"query","description":"Group associated marketing and operating carrier flights into a single record","required":false,"schema":{"type":"string","default":"false"},"example":true},{"name":"pageSize","in":"query","description":"Maximum amount of entries to return.","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"continuationToken","in":"query","description":"Token used to retrieve additional pages of results. This value should be copied from the previous response's continuationToken field. If the response does not contain this field, then no futher pages are available.","required":false,"schema":{"type":"string"},"example":"Aw=="},{"name":"X-apiKey","in":"header","description":"Authentication Key","required":true,"schema":{"type":"string"},"example":"qGZYu79ZopVtwIBXHJMqvBsA3bftnOKP"}],"responses":{"403":{"description":"Unauthenticated request","content":{"application/json":{"example":{"errors":{"error":[{"description":"Authentication failed","code":9998}]}}}}},"404":{"description":"Request not found","content":{"application/json":{"example":{"timestamp":"2020-01-01T12:00:00.000+0000","status":404,"error":"Not Found","message":"Not Found","path":"/path/not/found"}}}},"200":{"description":"Successful operation","content":{"application/json":{"example":{"departure":"DUB","arrival":"SIN","schedules":[{"itineraryVariationIdentifier":1,"legSequenceNumber":1,"serviceType":"J","operationBegin":"06ABR20","operationEnd":"21DEZ20","utcOffsetDS":"+0100","passengerDepartureTerminal":"5","aircraftSTA":"1745","passengerSTA":"1745","utcOffsetAS":"+0800","passengerArrivalTerminal":"1","aircraftType":"777","prbd":"XX","secureFlightIndicator":"S","automatedCheckIn":"A","operatingAirline":"OPERATING_FLIGHT","departureDayDifference":0,"arrivalDayDifference":1,"recordSerialNumber":"098457","flightDesignator":{"airlineDesignator":"BA","flightNumber":"15","flightOperator":false},"marketingCarriers":[{"airlineDesignator":"QF","flightNumber":"3100","flightOperator":false},{"airlineDesignator":"TN","flightNumber":"1101","flightOperator":false}],"dayOfOperation":["MONDAY","TUESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"departureStation":{"continent":"EU","countryCode":"IE","name":"Dublin Airport","iataCode":"DUB","icaoCode":"EIDW","city":"Dublin","country":"Ireland","timezone":"Europe/Dublin"},"arrivalStation":{"continent":"AS","countryCode":"SG","name":"Singapore Changi Airport","iataCode":"SIN","icaoCode":"WSSS","city":"Singapore","country":"Singapore","timezone":"Asia/Singapore"},"mealService":{"mealServicePerClass":[{"mealService":"Meal Service for more than 5 classes"}]},"mct":{"departure":"dMCT","arrival":"aMCT"},"onwardFlight":{"airlineDesignator":"BA","flightNumber":"BA"}}],"continuationToken":"Aw=="}}}}}}},"/v1/airport/{airportCode}/direction/{adi}":{"get":{"tags":["Flight Schedule API"],"summary":"Schedule Information based on Airport Code and Direction","description":"Returns all active flight schedules for a given Airport, filtered by departure/arrival.","operationId":"getByAirportAndAdi","parameters":[{"name":"airportCode","in":"path","description":"3-character IATA or 4-character ICAO airport code","required":true,"schema":{"type":"string"},"example":"DUB"},{"name":"adi","in":"path","description":"Direction ('D' for Departure, 'A' for Arrival)","required":true,"schema":{"type":"string"},"example":"D"},{"name":"operationDateFrom","in":"query","description":"Start Date for Operation Date Filter (Valid format is 'yyyy-MM-dd').\nIf not defined, current UTC date will be assigned","required":false,"schema":{"type":"string"},"example":"2020-07-26"},{"name":"operationDateTo","in":"query","description":"Final Date for Operation Date Filter (Valid format is 'yyyy-MM-dd').\nIf defined, operationDateFrom should also be present. If not defined, a 3 days window will be used based on operationDateFrom (if present) or the current UTC date.","required":false,"schema":{"type":"string"},"example":"2020-07-31"},{"name":"groupMarketingCarriers","in":"query","description":"Group associated marketing and operating carrier flights into a single record","required":false,"schema":{"type":"string","default":"false"},"example":true},{"name":"pageSize","in":"query","description":"Maximum amount of entries to return.","required":false,"schema":{"type":"integer","format":"int32"},"example":100},{"name":"continuationToken","in":"query","description":"Token used to retrieve additional pages of results. This value should be copied from the previous response's continuationToken field. If the response does not contain this field, then no futher pages are available.","required":false,"schema":{"type":"string"},"example":"Aw=="},{"name":"X-apiKey","in":"header","description":"Authentication Key","required":true,"schema":{"type":"string"},"example":"qGZYu79ZopVtwIBXHJMqvBsA3bftnOKP"}],"responses":{"403":{"description":"Unauthenticated request","content":{"application/json":{"example":{"errors":{"error":[{"description":"Authentication failed","code":9998}]}}}}},"200":{"description":"Successful operation","content":{"application/json":{"example":{"departure":"DUB","adi":"D","schedules":[{"itineraryVariationIdentifier":1,"legSequenceNumber":1,"serviceType":"J","operationBegin":"06ABR20","operationEnd":"21DEZ20","utcOffsetDS":"+0100","passengerDepartureTerminal":"5","aircraftSTA":"1745","passengerSTA":"1745","utcOffsetAS":"+0800","passengerArrivalTerminal":"1","aircraftType":"777","prbd":"XX","secureFlightIndicator":"S","automatedCheckIn":"A","operatingAirline":"OPERATING_FLIGHT","departureDayDifference":0,"arrivalDayDifference":1,"recordSerialNumber":"098457","flightDesignator":{"airlineDesignator":"BA","flightNumber":"15","flightOperator":false},"marketingCarriers":[{"airlineDesignator":"QF","flightNumber":"3100","flightOperator":false},{"airlineDesignator":"TN","flightNumber":"1101","flightOperator":false}],"dayOfOperation":["MONDAY","TUESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"],"departureStation":{"continent":"EU","countryCode":"IE","name":"Dublin Airport","iataCode":"DUB","icaoCode":"EIDW","city":"Dublin","country":"Ireland","timezone":"Europe/Dublin"},"arrivalStation":{"continent":"AS","countryCode":"SG","name":"Singapore Changi Airport","iataCode":"SIN","icaoCode":"WSSS","city":"Singapore","country":"Singapore","timezone":"Asia/Singapore"},"mealService":{"mealServicePerClass":[{"mealService":"Meal Service for more than 5 classes"}]},"mct":{"departure":"dMCT","arrival":"aMCT"},"onwardFlight":{"airlineDesignator":"BA","flightNumber":"BA"}}],"continuationToken":"Aw=="}}}},"404":{"description":"Request not found","content":{"application/json":{"example":{"timestamp":"2020-01-01T12:00:00.000+0000","status":404,"error":"Not Found","message":"Not Found","path":"/path/not/found"}}}}}}}},"components":{}}